# Server Details
set mysql_connection_string "user=root;host=localhost;port=3306;database=clarity"
sv_licenseKey "license key here"
setr sv_serverCode "dev" # dev | wl
setr str_enableFlush false

# Server Admins
add_principal identifier.license:xxxxxxxxxxxxx group.admin

# If you wish to host the voice server externally, you can do so here. It is recommended.
# setr voice_externalAddress "ip"
# setr voice_externalPort "port"