ensure fw-config
ensure fw-voice
ensure fw-queue

ensure fw-businesses
ensure fw-cleanup
ensure fw-admin
ensure fw-inventory
ensure fw-characters

# Scripts
ensure fw-emotes
ensure fw-apartments
ensure fw-assets
ensure fw-financials
ensure fw-carmenu
ensure fw-cityhall
ensure fw-clothes
ensure fw-bennys
ensure fw-doors
ensure fw-heists
ensure fw-medical
ensure fw-housing
ensure fw-misc
ensure fw-interiors
ensure fw-items
ensure fw-jobmanager
ensure fw-phone
ensure fw-police
ensure fw-progressbar
ensure fw-menu
ensure fw-radio
ensure fw-spawn
ensure fw-trains
ensure fw-hud
ensure fw-minigames
ensure fw-ui
ensure fw-vehicles
ensure fw-weapons
ensure fw-sync
ensure fw-scenes
ensure fw-editor
ensure fw-mdw
ensure fw-illegal
ensure fw-casino
ensure fw-graffiti
ensure fw-laptop
ensure fw-island
ensure fw-racing
ensure fw-polaroid
ensure fw-boosting
ensure fw-books
ensure fw-prison
ensure fw-arcade
ensure wk_wrs

# Mini Games
ensure minigame-boostinghack
ensure minigame-drill
ensure minigame-phone
ensure minigame-datacrack
ensure minigame-safecrack
ensure minigame-shape
ensure meta_libs

# Gabz
ensure cfx-gabz-mapdata         #*THIS RESOURCE IS REQUIRED FOR ALL RESOURCES TO WORK. IT MUST BE STARTED FIRST*
ensure cfx-gabz-scenarios       #*THIS RESOURCE IS OPTIONAL, IT REMOVES CONFLICTING PEDS SPAWNS*
ensure cfx-gabz-pdprops         #*THIS RESOURCE IS REQUIRED IF YOU USE ANY PD. IT MUST BE START BEFORE PD'S*
ensure cfx-gabz-247             #*THIS RESOURCE IS MANDATORY IF YOU USE [CFX-GABZ-OTTOS]*
ensure cfx-gabz-altruists
ensure cfx-gabz-arcade
ensure cfx-gabz-bahama
ensure cfx-gabz-barber
ensure cfx-gabz-bennys
ensure cfx-gabz-binco
ensure cfx-gabz-burgershot
ensure cfx-gabz-catcafe
ensure cfx-gabz-davispd         #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
ensure cfx-gabz-fleeca
ensure cfx-gabz-harmony
ensure cfx-gabz-hayes
ensure cfx-gabz-lamesapd        #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
ensure cfx-gabz-lost
ensure cfx-gabz-lscustoms
ensure cfx-gabz-mrpd
ensure cfx-gabz-pacificbank     #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
ensure cfx-gabz-paletobank
ensure cfx-gabz-paletopd        #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
ensure cfx-gabz-parkranger
ensure cfx-gabz-pdm
ensure cfx-gabz-ponsonbys
ensure cfx-gabz-records
ensure cfx-gabz-sandypd         #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
ensure cfx-gabz-suburban
ensure cfx-gabz-tattoo
ensure cfx-gabz-vbmarket

ensure cfx_gn_ambulance_garage
ensure cfx_gn_collection
ensure cfx_gn_int_clinic
ensure cfx_gn_clinic_paleto
ensure cfx_gn_clinic_sandy
ensure cfx_gn_sandy_mapdata
ensure cfx_gn_medic_center
ensure cfx_gn_medical_assets
ensure cfx_gn_medical_accessories

# Maps
ensure map-bobcat
ensure map-tavern
ensure map-digital
ensure map-hunting
ensure fw-maps
ensure map-police-vespucci
ensure map-rooster
ensure map-store-liqour
ensure map-vinyard
ensure map-prison
ensure map-mazebank
ensure map-ranch
ensure map-viceroy
ensure map-impound
ensure map-pawnstar
ensure map-church
ensure map-townhall
ensure map-whitewidow
ensure map-office
ensure map-chinatown

# Assets
ensure assets-clothing
ensure assets-weapons
ensure assets-audio
ensure assets-farming
ensure assets-replace
ensure assets-occlusion

# Vehicles
ensure fw-dutyvehicles