endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

exec private.cfg

# FiveM Core Resources
ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure baseevents
ensure ghmattimysql
ensure oxmysql
ensure fw-core
start yarn
start webpack
start screenshot-basic

# standalone
ensure connectqueue
ensure chat
ensure PolyZone

exec resources.cfg

sv_scriptHookAllowed 0

# sets tags ""
# sets Discord ""

sets banner_detail ""
sets banner_connecting ""
load_server_icon logo.png

sv_hostname "FiveM Development"

sv_master1 ""

sets locale "nl-NL" 
set temp_convar "skrt"

add_principal group.admin
add_ace group.admin command allow # allow all commands
add_ace resource.console command allow # allow console commands
sv_endpointprivacy true

sv_maxclients 8

sets sv_projectName "FiveM Development"
sets sv_projectDesc "FiveM Development"

set onesync_population true
set onesync_workaround763185 true
set onesync_forceMigration true
set onesync_distanceCullVehicles true
sv_enforceGameBuild 3570

setr voice_Use3dAudio true
setr voice_useNativeAudio true
setr voice_enableSubmix true
setr voice_UseSendingRangeOnly true