## // Port Settings \\ ##
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
## // Einde Port Settings \\ ##

## // Database \\ ##
set mysql_connection_string "mysql://root@localhost/fivem-clarity"
## // Einde Database \\ ##

# FiveM Core Resources
ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure baseevents
ensure ghmattimysql
ensure oxmysql
ensure fw-core
start yarn
start webpack
start screenshot-basic

# standalone
ensure connectqueue
ensure chat
ensure PolyZone

exec resources.cfg

sv_scriptHookAllowed 0

# sets tags ""
# sets Discord ""

sets banner_detail ""
sets banner_connecting ""
load_server_icon logo.png

sv_hostname "DEV yeet"

sv_master1 ""

sets locale "nl-NL" 
set temp_convar "skrt"

add_principal group.admin
add_ace group.admin command allow # allow all commands
add_ace resource.console command allow # allow console commands
add_principal identifier.steam:xxxxxxxxxxxxxxxx group.admin # ADD YOURSELF HERE FOR PERMS
sv_endpointprivacy true

# sv_licenseKey "Lekker zelf neer zetten ofzo :)"
# set steam_webApiKey "Lekker zelf neer zetten ofzo :)"

sv_maxclients 128

# Als je de voice op een andere FXServer wilt zetten, kan je dat hier doen, is aangeraden om dit te doen!
# setr voice_externalAddress "ip"
# setr voice_externalPort "port"

sets sv_projectName "sdbfcvbdfk"
sets sv_projectDesc "sdbfcvbdfk"
setr sv_serverCode "dev" # dev | wl

set onesync_population true
set onesync_workaround763185 true
set onesync_forceMigration true
set onesync_distanceCullVehicles true
sv_enforceGameBuild 2944

setr voice_Use3dAudio true
setr voice_useNativeAudio true
setr voice_enableSubmix true
setr voice_UseSendingRangeOnly true