/* Multi */
.container-loading {
    position: relative;

    width: 97%;
    height: .7vh;
    border-radius: .5vh;

    margin: 0 auto;

    background-color: rgba(0, 0, 0, 0.342);
}

.container-loading-bar {
    width: 100%;
    height: 100%;

    border-radius: .3vh;
    background-color: #f2a365;
}

/* Keystroke Minigame */
.keystroke-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    min-width: 59vh;
    width: max-content;
    min-height: 59vh;
    height: max-content;

    background-color: #232832;
}

.keystroke-container-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: white;
    
    font-family: Roboto;
    font-size: 1.3vh;

    width: max-content;
    height: max-content;
}

.keystroke-container-center > i {
    font-size: 4.5vh;
    margin-bottom: 1vh;
}

.keystroke-bar {
    position: relative;
    top: 6vh;

    height: 5.5vh;
    width: 100%;

    background-color: rgba(149, 239, 119, 0.5);
}

.keystroke-rows {
    display: flex;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    margin: 0 auto;

    width: 90%;
    height: 100%;
}

.keystroke-rows-row {
    position: relative;
    width: calc(100% / 5);
    height: 100%;
    color: white;
    font-size: 5vh;
    font-family: 'Roboto';
    overflow: hidden;
    text-transform: uppercase;
}

.keystroke-rows-row > span {
    position: absolute;
    bottom: -5vh;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 5vh;
}

/* Slider */
.slider-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: max-content;
    height: max-content;

    padding: 2vh;

    background-color: #232832;
}